

.page__title{
    margin-top: 3rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.page__form{
    display: flex;
    gap: .5rem;
    padding: 1.5rem 1rem;
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.page__form input{
    width: 100%;
}

/* .page__form button{
    padding: .5rem 1rem;
    background-color: #2563eb;
    border: none;
    color: #fff;
    border-radius: .5rem;
} */

.page__job_list{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1.5rem 1rem;
    border-radius: .5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}